.reg-form_center{
margin: 0 auto;
width: 400px;
}

.reg-form{
margin-bottom: 10px;
}

.h1-title{
margin-top: 50px;
margin-bottom: 100px;
}

.wrong-login{
        padding-top: 50px;
        padding-left: 50px;
}

.back-error{
width: 100vw;
height: 100vh;
background-image: url("../error-back.jpg");
}

.login-background{
background-image: url("../login-back.jpg");
}

.logout {
    padding: 20px;
    text-align: right;
}

.logout__btn{
    text-decoration: none;
    color: white;
    background-color: #80808047;
    padding: 5px 10px;
    border-radius: 10px;
    transition: 0.4s;
}

.logout__btn:hover{
    background-color: black;
    color: white;
}