<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список товаров</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<h1>Список товаров</h1>
<ul>
    <li th:each="product : ${products}">
        <span th:text="${product.name}"></span>
        <span th:text="${product.description}"></span>
        <span th:text="${product.price}"></span>
    </li>
</ul>
</body>
</html>
