<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Task List</title>
</head>

<script>
    function deleteTask(taskId) {
        if (confirm('Are you sure you want to delete this task?')) {
            var xhr = new XMLHttpRequest();
            xhr.open('DELETE', '/tasks/' + taskId, true);
            xhr.onload = function () {
                if (xhr.status === 204) {
                    // Успешное удаление, перезагрузим страницу
                    location.reload();
                } else {
                    alert('Error deleting task: ' + xhr.statusText);
                }
            };
            xhr.send();
        }
    }
</script>

<body>
<h2>Task List</h2>

<form method="post" action="/tasks">
    <label>Description: </label>
    <input type="text" name="description" required>
    <button type="submit">Add Task</button>
</form>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Description</th>
        <th>Status</th>
        <th>Creation Date</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="task : ${tasks}">
        <td th:text="${task.id}"></td>
        <td th:text="${task.description}"></td>
        <td th:text="${task.status}"></td>
        <td th:text="${task.creationDate}"></td>
        <td>
            <form method="post" th:action="@{/tasks/{id}(id=${task.id})}" th:method="post">
                <input type="hidden" name="_method" value="PUT"/>
                <select name="status">
                    <option value="NOT_STARTED">Not Started</option>
                    <option value="IN_PROGRESS">In Progress</option>
                    <option value="COMPLETED">Completed</option>
                </select>
                <button type="submit">Update Status</button>
            </form>
            <a href="#" onclick="deleteTask(${task.id})">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
